body {
    position: relative;
}

.pic-fun-fact {
    position: absolute;
    top: 30%;
    left: 55%;
}

#pic {
    width: 450px;
}

#fun-fact {
    width: 450px;
}

#fun-fact {
    font-weight: bold;
    font-size: 16px;
}

#word {
    border: 3px solid greenyellow;
}

